In [0]:
import pandas as pd
from bs4 import BeautifulSoup
import urllib.request
def get_spy_tickers():
  """This function gets all the S&P 500 tickers from a wikipedia 
  article by using beautiful soup
  """
  url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
  req = urllib.request.urlopen(url)
  article = req.read().decode()

  with open('List_of_S%26P_500_companies.html', 'w') as fo:
      fo.write(article)

  # Load article, turn into soup and get the <table>s.
  article = open('List_of_S%26P_500_companies.html').read()
  soup = BeautifulSoup(article, 'html.parser')
  tables = soup.find_all('table', class_='sortable')

  # Search through the tables for the one with the headings we want.
  for table in tables:
      ths = table.find_all('th')
      headings = [th.text.strip() for th in ths]
      if headings[:2] == ['Symbol', 'Security']:
          break

  # Extract the columns we want and write to a semicolon-delimited text file.
  with open('List_of_S%26P_500_companies.txt', 'w') as fo:
      for tr in table.find_all('tr'):
          tds = tr.find_all('td')
          if not tds:
              continue
          code, country = [td.text.strip() for td in tds[:2]]
          # Wikipedia does something funny with country names containing
          # accented characters: extract the correct string form.
          if '!' in country:
              country = country[country.index('!')+1:]
          print('; '.join([code, country]), file=fo)
  df = pd.read_csv('List_of_S%26P_500_companies.txt', sep=';', header=None,names=['Ticker','Security'])
  return df

In [8]:
get_spy_tickers()

    Ticker                 Security
0      MMM               3M Company
1      ABT      Abbott Laboratories
2     ABBV              AbbVie Inc.
3     ABMD              ABIOMED Inc
4      ACN            Accenture plc
..     ...                      ...
500    YUM               Brands Inc
501   ZBRA       Zebra Technologies
502    ZBH   Zimmer Biomet Holdings
503   ZION            Zions Bancorp
504    ZTS                   Zoetis

[505 rows x 2 columns]